---
import SectionContainer from "../components/SectionCountainer.astro";
import BriefIcon from "../components/Icons/BriefIcon.astro";
import SocialIcons from "../components/SocialIcons.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Experiencia from "../components/Experiencia.astro";
import GitHub from "../components/Icons/GitHub.astro";
import Proyects from "../components/Proyects.astro";
import Mail from "../components/Icons/Mail.astro";
import Code from "../components/Icons/Code.astro";
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import ExperienciaItem from "../components/ExperienciaItem.astro";
---

<Layout
	title="Porfolio de Ivan Ortega - Desarrollador y Programador Web con 1 año de experiencia"
	description="contrata a Ivan Ortega como desarrollador web, backend, frontend stack, mern, react, node, express, mongodb, mysql, oracle, docker, git, github, nginx"
>
	<main>
		<SectionContainer id="inicio" className="py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row justify-center gap-x-4 pb-4">
				! Hola, Me Presento Soy Ivan Ortega Garzón
			</h1>

			<a href="https://www.linkedin.com/in/llortegall/" target="_blank" class="" >
				<Badge>Disponible Para Desarrollar.</Badge>
			</a>

			<h2 class="text-xl text-pretty mt-3">
				Desarrollador Web Full Stack con 1 año de experiencia. Especializado en el desarrollo, despliegue y mantenimiento de aplicaciones web utilizando tecnologías como 
				<span class="text-red-500">Mysql</span>
				<span class="text-blue-500">React</span>
				<span class="text-orange-400">Node</span>
				<span class="text-green-500">Express</span>,
				Además, tengo experiencia con herramientas y tecnologías como Docker, Git, Nginx, OracleDB, MongoDB, GitHub y Jenkins. Mis lenguajes de programación principales son TypeScript, Python y Java.
			</h2> 

			<nav>
				<ul class="flex gap-x-2 pt-6">
					<SocialIcons href="https://www.linkedin.com/in/llortegall/">
						<LinkedIn class="size-6" />
						LinkedIn
					</SocialIcons>
					<SocialIcons href="https://github.com/llOrtegall">
						<GitHub class="size-6" />
						GitHub
					</SocialIcons>
					<SocialIcons>
						<Mail class="size-6" />
						IvanOrtega_97@hotmail.com
					</SocialIcons>
				</ul>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" className="py-16">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				<BriefIcon />	
				Experiencia
			</h1>
			<Experiencia />
		</SectionContainer>	
	</main>
</Layout>
