---
import SectionContainer from "../components/SectionContainer.astro";
import BriefIcon from "../components/Icons/BriefIcon.astro";
import SocialIcons from "../components/SocialIcons.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Experiencia from "../components/Experiencia.astro";
import GitHub from "../components/Icons/GitHub.astro";
import Proyects from "../components/Proyects.astro";
import Mail from "../components/Icons/Mail.astro";
import Code from "../components/Icons/Code.astro";
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout
	title="Porfolio de Ivan Ortega - Desarrollador y Programador Web" description="contrata a Ivan Ortega como desarrollador web, backend, frontendh []stack, mern, react, node, express, mongodb">
	<main class="flex flex-col">
		 <SectionContainer id="inicio" classname="justify-around items-center">
				<img class="rounded-full" width="150" src="/ivan.jpg" alt="Ivan Ortega foto" />
				<h1 class="flex flex-col items-center gap-2" >
					<p>! Hola, Me llamo Ivan Ortega Garzón</p>
					<a href="https://www.linkedin.com/in/llortegall/" class="" target="_blank" rel="noopener" >
						<Badge>Disponible Para Desarrollar.</Badge>
					</a>
				</h1>

				<article class="w-full px-4 text-pretty text-base">
					<p><span class="text-yellow-200"> 1 año de experiencia, </span>Desarrollador Full Stack,
					<span class="text-yellow-200">Me especializo en construción de Aplicaciones Web</span>, 
					implementando el stack MERN (
					<span class="text-green-300">MongoDB,</span>
					<span class="text-orange-300">Express,</span>
					<span class="text-blue-300">React,</span>
					<span class="text-green-400">Node.js</span> ). No obstante, tengo experiencia con diferentes tecnologías como: Docker, Git + GitHub, Nginx, MySQL, Oracle
					</p>
				</article>
			</section>
			<nav class="flex flex-col gap-2">
				<SocialIcons href="https://www.linkedin.com/in/llortegall/">
					<LinkedIn class="size-6" />
					LinkedIn
				</SocialIcons>
				<SocialIcons href="https://github.com/llOrtegall">
					<GitHub class="size-6" />
					GitHub
				</SocialIcons>
				<SocialIcons>
					<Mail class="size-6" />
					IvanOrtega_97@hotmail.com
				</SocialIcons>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" classname="mt-44">
			<h2 class="flex gap-2 items-center">
				<BriefIcon class="" /> 
				<p class="text-xl font-semibold pt-1">Experiencia Laboral</p>
			</h2>
			<Experiencia />
		</SectionContainer>
<!--
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold flex gap-x-2 items-center pl-5 pb-10">
				<Code class="size-8" />
				<span>Proyectos Relizados</span>
			</h2>
			<Proyects />
		</SectionContainer> -->
	</main>
</Layout>
