---
import BriefIcon from "../components/Icons/BriefIcon.astro";
import SocialIcons from "../components/SocialIcons.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Experiencia from "../components/Experiencia.astro";
import GitHub from "../components/Icons/GitHub.astro";
import Proyects from "../components/Proyects.astro";
import Mail from "../components/Icons/Mail.astro";
import Code from "../components/Icons/Code.astro";
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout
	title="Porfolio de Ivan Ortega - Desarrollador y Programador Web"
	description="contrata a Ivan Ortega como desarrollador web, backend, frontendh []stack, mern, react, node, express, mongodb"
>

	<section id="inicio" class="h-[95vh] flex flex-col px-96">
			<h1 class="flex flex-col items-center gap-2">
				<p>! Hola, Me llamo Ivan Ortega Garzón</p>
				<a
					href="https://www.linkedin.com/in/llortegall/"
					class=""
					target="_blank"
					rel="noopener"
				>
					<Badge>Disponible Para Desarrollar.</Badge>
				</a>
			</h1>

			<article class="w-full px-4 text-pretty text-base">
				<p>
					<span class="text-yellow-200">
						1 año de experiencia,
					</span>Desarrollador Full Stack,
					<span class="text-yellow-200"
						>Me especializo en construción de Aplicaciones Web</span
					>, implementando el stack MERN <span class="text-green-300"
						>MongoDB,</span
					>
					<span class="text-orange-300">Express,</span>
					<span class="text-blue-300">React,</span>
					<span class="text-green-400">Node.js</span>. No obstante, tengo
					experiencia con diferentes tecnologías como: Docker, Git + GitHub,
					Nginx, MySQL, OracleDB
				</p>
			</article>
	</section>

	<section id="experiencia" class="">
		<h2 class="flex gap-2 items-center">
			<BriefIcon class="" />
			<p class="text-xl font-semibold pt-1">Experiencia Laboral</p>
		</h2>
		<Experiencia />
	</section>

	<section id="proyectos" class="">
		<h2 class="flex gap-2 items-center pb-4 px-4">
			<Code class="size-8" />
			<span class="pt-1">Proyectos Relizados</span>
		</h2>
		<Proyects />
	</section>
</Layout>
