---
import BriefIcon from "../components/Icons/BriefIcon.astro";
import SocialIcons from "../components/SocialIcons.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Experiencia from "../components/Experiencia.astro";
import GitHub from "../components/Icons/GitHub.astro";
import Proyects from "../components/Proyects.astro";
import Mail from "../components/Icons/Mail.astro";
import Code from "../components/Icons/Code.astro";
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Porfolio de Ivan Ortega - Desarrollador y Programador Web"
	description="contrata a Ivan Ortega como desarrollador web, backend, frontendh []stack, mern, react, node, express, mongodb"
>
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row justify-center gap-x-4 pb-2">
				! Hola, Me llamo Ivan Ortega Garzón 
				<div class="flex justify-center items-center">
					<Badge>Disponible Para Desarrollar.</Badge>
				</div>
			</h1>

			<h2 class="text-xl">
				1 año de experiencia, Desarrollador Full Stack, Me especializo en
				construción de Aplicaciones Web implementando el stack MERN MongoDB,
				Express, React, Node.js. No obstante, tengo experiencia con diferentes
				tecnologías como: Docker, Git + GitHub, Nginx, MySQL, OracleDB
			</h2>
		</section>
	</main>
</Layout>
