---
import ExperienciaItem from "./ui/ExperienceItem.astro";

const EXPERIENCIE = [
    {
        title: "Analista De Aplicaciones",
        company: "Grupo Empresarial Multired S.A",
        description:
            "Desarrollo y mantenimiento de aplicaciones web Full Stack utilizando TypeScript, React, NodeJS, Express y Tailwind CSS. Implementación y gestión de servicios en contenedores Docker (Docker Compose), incluyendo bases de datos, servidores web y herramientas de monitoreo como Grafana. Administración de bases de datos (MySQL, Oracle, MongoDB) y creación de flujos CI/CD con Jenkins para el despliegue eficiente de aplicaciones.",
        date: "10/11/2023 --- 11/07/2025",
        tecnologias: [
            "NextJS",
            "TypeScript",
            "NodeJS",
            "Express",
            "Tailwind CSS",
            "Docker",
            "MySQL",
            "Oracle",
            "MongoDB",
            "Jenkins",
        ],
    },
    {
        title: "Técnico de Soporte y Mantenimiento",
        company: "Grupo Empresarial Multired S.A",
        description:
            "-> Soporte técnico remoto y presencial a usuarios internos y externos, mantenimiento de equipos de cómputo, instalación de software, configuración de redes, configuración de impresoras, configuración de dispositivos móviles, testeo de aplicaciones web y móviles.",
        date: "2020 --- 2023",
        tecnologias: ["Windows", "Linux", "Android", "shell/bash"],
    },
];
---

<div id="inicio">
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        {
            EXPERIENCIE.map((item) => (
                <li class="mb-10 ms-4">
                    <ExperienciaItem {...item} />
                </li>
            ))
        }
    </ol>
</div>

<style>
    .experience-description {
        padding: 1rem;
    }
    .experience-list {
        list-style: none;
        padding-left: 1rem;
    }
    .experience-list > li {
        margin-bottom: 1rem;
        position: relative;
    }
    .experience-list > li:before {
        content: "→";
        position: absolute;
        left: -1rem;
    }
    .sub-list {
        list-style: disc;
        padding-left: 2rem;
        margin-top: 0.5rem;
    }
    .sub-list li {
        margin-bottom: 0.25rem;
    }
</style>
