<header class="flex items-center gap-6 justify-around pt-2">
  <figure>
    <img class="rounded-full hidden sm:block w-24 h-24" src="/ivan.jpg" alt="Ivan Ortega foto" />
  </figure>

  <nav class="flex flex-row gap-x-2 xl:gap-x-10 font-bold xl:text-2xl text-blue-200">
    <a href="#inicio" class="hover:text-blue-600" href="">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-600" href="">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-600" href="">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-blue-600" href="">Sobre mí</a>
    <a href="#contacto" class="hover:text-blue-600" href="">Contacto</a>
  </nav>
</header>
