<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img class="rounded-full" width="50" src="/ivan.jpeg" alt="Ivan Ortega foto" />
  <nav class="flex flex-row gap-x-10 font-bold text-blue-200">
    <a class="hover:text-blue-600" href="">Inicio</a>
    <a class="hover:text-blue-600" href="">Experiencia</a>
    <a class="hover:text-blue-600" href="">Proyectos</a>
    <a class="hover:text-blue-600" href="">Contacto</a>
  </nav>
</header>
