<header class="py-4">
  <nav class="flex justify-around w-screen">
    <a href="#inicio" class="hover:text-blue-600" href="">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-600" href="">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-600" href="">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-blue-600" href="">Sobre mí</a>
    <a href="#contacto" class="hover:text-blue-600" href="">Contacto</a>
  </nav>
</header>
