<header class="w-full flex gap-12 justify-center items-center py-4 top-0 fixed">
  <img
    class="rounded-full"
    width="100"
    src="/ivan.jpg"
    alt="Ivan Ortega foto"
    loading="lazy"
  />
  <nav class="flex gap-6 text-2xl font-medium">
    <a href="#inicio" class="hover:text-blue-400" href="">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-400" href="">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-400" href="">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-blue-400" href="">Sobre mí</a>
    <a href="#contacto" class="hover:text-blue-400" href="">Contacto</a>
  </nav>
</header>
