---
import FotoPerfil from "./FotoPerfil.astro";
---

<header class="bg-gradient-to-t from-gray-800 to-gray-900 fixed text-xs top-0 flex w-full items-center justify-around py-4">
  <FotoPerfil classname="w-10 hidden"/>
  <nav class="flex gap-2 text-sm font-medium">
    <a href="#inicio" class="hover:text-blue-400" href="">Inicio</a>
    <a href="#experiencia" class="hover:text-blue-400" href="">Experiencia</a>
    <a href="#proyectos" class="hover:text-blue-400" href="">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-blue-400" href="">Sobre mí</a>
    <a href="#contacto" class="hover:text-blue-400" href="">Contacto</a>
  </nav>
</header>
