---
import Link from "../components/Icons/Link.astro";
import Github from "../components/Icons/GitHub.astro";

const PROYECTS = [
  {
    title: "Proyecto 1",
    description: "Descripción del proyecto 1",
    img: "img/proyecto1.jpg",
    url: "proyecto1.html",
    github: "codegithub.com",
    tags: ["tag1", "tag2", "tag3"],
  },
  {
    title: "Proyecto 2",
    description: "Descripción del proyecto 2",
    img: "img/proyecto2.jpg",
    url: "proyecto2.html",
    github: "codegithub.com",
    tags: ["tag1", "tag2", "tag3"],
  },
  {
    title: "Proyecto 3",
    description: "Descripción del proyecto 3",
    img: "img/proyecto3.jpg",
    github: "codegithub.com",
    url: "proyecto3.html",
    tags: ["tag1", "tag2", "tag3"],
  },
];
---

<section class="grid grid-cols-2 gap-8">
  {
    PROYECTS.map(({ title, description, img, url, github, tags }) => (
      <article class="p-4">
        <h3 class="text-center">{title}</h3>
        <figure>
          <img src={img} alt="Captura de proyecto" />
        </figure>
        <p>{description}</p>
        <ul class="flex justify-around">
          <p>Técnologias:</p>
          {tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </ul>
        <figure class="flex justify-around">
          <a href="" class="flex gap-4 items-center justify-center border px-2 py-1 rounded-lg bg-gray-700 hover:bg-white hover:text-gray-700 transition-all">Link: <Link class="size-7" /></a>
          <a href="" class="flex gap-4 items-center justify-center border px-2 py-1 rounded-lg bg-gray-700 hover:bg-white hover:text-gray-700 transition-all">Codigo: <Github class="size-6" /></a>
        </figure>
      </article>
    ))
  }
</section>
