<section>
    <h2 class="text-3xl font-bold mb-4">Sobre Mí</h2>
    <p class="text-gray-300">
        Soy una persona apasionada por la informática y la tecnología, lo que me
        ha llevado a desarrollar habilidades autodidactas en este campo. Siempre
        me ha gustado aprender por mi cuenta y buscar nuevas formas de
        solucionar problemas y mejorar mis conocimientos en el área. Estoy
        motivado por mi deseo de salir adelante y alcanzar mis metas personales
        y profesionales, y siento que la informática es un camino muy prometedor
        para lograrlo. Mi dedicación y perseverancia son algunas de mis
        principales fortalezas, y estoy seguro de que podré enfrentar los
        desafíos que se presenten en este campo con éxito y con un enfoque
        positivo y pro activo.
    </p>
</section>
