<a class="flex items-center justify-center rounded-xl border bg-gray-900 border-white/10 gap-x-2 py-3 px-4 hover:scale-110 transition hover:bg-blue-400"
  {...Astro.props} target="_blank" rel="noopener noreferrer">
  <slot />
</a>