.show-mobile {
  display: block;
  box-shadow: 0px 2px 5px rgb(black, .2);

  >div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: 0;
      background: transparent;
    }
  }

  .side-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translate(-100%);
    transition: all ease-out .5s;
    &.active{
      transform: translate(0);
    }
  }
}

.uil-shopping-cart {
  font-size: 32px;
  color: black;
}

.counter{
  display: flex;
  position: absolute;
  color: white;
  font-weight: bold;
  top: 24px;
  right: 48px;
  border-radius: 50%;
  padding: 5px 8px;
  background-color: rgba($color: #13b3cf, $alpha: 1.0);
}

.uil-bars {
  font-size: 32px;
  color: black;
}

.hide-mobile {
  display: none;
  box-shadow: 0px 2px 5px rgb(black, .2);

  >div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 1em;
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      a {
        margin: 0 .2em;
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;

    .account {
      margin-right: .5em;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }

  .hide-mobile {
    display: block;
  }
}