<footer
    class="flex flex-col items-center justify-center py-8 text-gray-300 text-sm"
>
    <p class="text-gray-500 text-sm">
        &copy; 2025 Iván Ortega Garzón. Portfolio personal.
    </p>
</footer>
