<header class="flex items-center justify-around py-4 px-44">
    <img src="ivan.jpg" alt="ortega photo" width="70" height="70" class="rounded-full shadow-md" />

    <nav class="flex flex-row gap-4 text-xl text-gray-100">
        <a href="#  " class="hover:text-blue-500 font-semibold">Inicio</a>
        <a href="#experiencia" class="hover:text-blue-500 font-semibold">Experiencia</a>
        <a href="#sobremi" class="hover:text-blue-500 font-semibold">Sobre Mí</a>
        <a href="#proyectos" class="hover:text-blue-500 font-semibold">Proyectos</a>
        <a href="#contacto" class="hover:text-blue-500 font-semibold">Contacto</a>
    </nav>

</header>